<form [formGroup]="formGroup">
  <p-panel header="查詢功能資料">
    <div class="card" #contentElement>
      <div class="grid p-fluid">
        <div class="col-12 md:col-3 lg:col-3">
          <label>種類</label>
          <p-dropdown
            [options]="types"
            optionValue="value"
            placeholder="Please select"
            [showClear]="true"
            appendTo="body"
            formControlName="type"
          >
          </p-dropdown>
        </div>
        <div class="col-12 md:col-3 lg:col-3">
          <label>動作種類</label>
          <p-dropdown
            [options]="actionTypes"
            optionValue="value"
            placeholder="Please select"
            [showClear]="true"
            appendTo="body"
            formControlName="type"
          >
          </p-dropdown>
        </div>
        <div class="col-12 md:col-3 lg:col-3">
          <label>名稱</label>
          <input type="text" pInputText formControlName="name" />
        </div>
        <div class="col-12 md:col-3 lg:col-3">
          <label>是否生效</label>
          <p-dropdown
            [options]="activeFlags"
            optionValue="value"
            placeholder="Please select"
            [showClear]="true"
            appendTo="body"
            formControlName="activeFlag"
          >
          </p-dropdown>
        </div>
      </div>
      <div class="grid p-fluid justify-content-end">
        <div class="col-12 md:col-3 lg:col-2">
          <button type="button" pButton label="查詢" (click)="query()"></button>
        </div>
        <div class="col-12 md:col-3 lg:col-2">
          <button
            type="button"
            class="p-button-secondary p-button-outlined"
            pButton
            label="清除"
            (click)="clear()"
          ></button>
        </div>
      </div>
    </div>
  </p-panel>
</form>

<!-- 表格 -->
<p-panel [showHeader]="false">
  <p-tabMenu
    #detailTabMenuComponent
    [model]="detailTabs"
    styleClass="table-tabmenu"
  >
  </p-tabMenu>
  <div class="card table-container">
    <p-table
      #dt
      [rowsPerPageOptions]="[2, 5, 10]"
      [tableStyle]="{ 'min-width': '10rem', 'word-wrap': 'break-word' }"
      styleClass="p-datatable-gridlines p-datatable-sm p-datatable-striped"
      selectionMode="single"
      responsiveLayout="scroll"
      [(selection)]="selectedData"
      [value]="tableData"
      [columns]="cols"
      scrollHeight="500px"
      [resizableColumns]="true"
      [scrollable]="true"
      [paginator]="true"
      [rows]="10"
    >
      <!-- 標題 -->
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngIf="mode === 'delete'"></th>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            <ng-container
              >{{ col.header }} <p-sortIcon [field]="col.field"
            /></ng-container>
          </th>
          <th
            alignFrozen="right"
            pFrozenColumn
            style="
              min-width: 70px !important;
              max-width: 1rem;
              width: 70px !important;
            "
          >
            Actions
          </th>
        </tr>
      </ng-template>

      <ng-template
        pTemplate="body"
        let-rowData
        let-columns="columns"
        let-rowIndex="rowIndex"
      >
        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
          <td *ngIf="mode === 'delete'">
            <p-checkbox
              [binary]="true"
              (onChange)="onDelete(rowData.id, $event.checked)"
            ></p-checkbox>
          </td>
          <td
            *ngFor="let col of columns"
            style="max-width: 700px !important"
            [ngStyle]="{ 'word-break': 'break-all', 'word-wrap': 'break-word' }"
          >
            <!-- 編輯模式 -->
            <ng-container
              *ngIf="
                isEditing(rowData.givenIndex) || isAdding(rowData);
                else viewMode
              "
            >
              <!-- 根據 type 生成 -->
              <ng-container *ngIf="col.type === 'dropdown'">
                <p-dropdown
                  [(ngModel)]="rowData[col.field]"
                  [options]="loadDropdownData(col)"
                  optionValue="value"
                  [style]="{
                    'word-wrap': 'break-word',
                    'max-width': '5rem',
                    'min-width': '100%  !important'
                  }"
                  appendTo="body"
                  [disabled]="isFieldDisabled(rowData, col.field)"
                ></p-dropdown>
              </ng-container>
              <ng-container *ngIf="col.type === 'textArea'">
                <textarea
                  [(ngModel)]="rowData[col.field]"
                  appAutofocus
                  rows="5"
                  cols="90"
                  [style]="{
                    'word-wrap': 'break-word',
                    'max-width': '5rem',
                    'min-width': '100%  !important'
                  }"
                  pInputTextarea
                  [autoResize]="true"
                  [disabled]="isFieldDisabled(rowData, col.field)"
                >
                </textarea>
              </ng-container>
              <ng-container *ngIf="col.type === 'inputText'">
                <input
                  [(ngModel)]="rowData[col.field]"
                  type="text"
                  appAutofocus
                  class="p-inputtext"
                  [style]="{
                    'word-wrap': 'break-word',
                    'max-width': '5rem',
                    'min-width': '100%  !important'
                  }"
                  pInputText
                  [disabled]="isFieldDisabled(rowData, col.field)"
                />
              </ng-container>
              <div *ngIf="!rowData[col.field]">
                <small class="p-error"> 資料不能為空 </small>
              </div>
            </ng-container>

            <!-- 檢視模式 -->
            <ng-template #viewMode>
              <div (dblclick)="onEdit(rowData.givenIndex)" class="cell-content">
                {{ rowData[col.field] }}
              </div>
            </ng-template>
          </td>

          <td pFrozenColumn alignFrozen="right">
            <div class="flex mb-2 gap-2 justify-content-end">
              <button
                *ngIf="mode === ''"
                pButton
                type="button"
                [rounded]="true"
                [text]="true"
                class="p-button-outlined p-button-secondary"
                icon="pi pi-pencil"
                (click)="
                  clickRowActionMenu(rowData); onEdit(rowData.givenIndex)
                "
              ></button>
              <ng-container
                *ngIf="isEditing(rowData.givenIndex) || isAdding(rowData)"
              >
                <i
                  class="pi pi-check"
                  style="color: green"
                  (click)="confirm(rowData.givenIndex)"
                ></i>

                <i
                  class="pi pi-times"
                  style="color: red"
                  (click)="cancel(rowData.givenIndex)"
                ></i>
              </ng-container>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-panel>
